@font-face {
  font-family: 'Fedra';
  src: url('./fonts/Fedra_Sans_Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto';
}

.PageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.bkg_map_1 {
  background: url('./imgs/bkg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bkg_map_2 {
  background: url('./imgs/map_gray.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bkg_map_3 {
  background: url('./imgs/map_mcr.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.WelcomeMessage {
  position: fixed;
  top: 7.5vw;
  left: 0vw;
  font-size: 2.4215vw;
  font-family: 'Fedra', sans-serif;
  font-weight: 500;
  color: whitesmoke;
  padding: 2.505vw;
  width: 33%;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  text-align: center;
  line-height: 2.7555vw;
  border-radius: 0vw;
  text-align: left;
  line-height: 2.9225vw;
}

button {
  border-radius: 0.2505vw;
  padding: 0.4175vw 0.835vw;
  color: white;
  font-size: 1.0855vw;
  border: none;
  min-width: 5vw;
}

.DHSlogo {
  position: fixed;
  top: 0rem;
  width: 16.7vw;
}

.NERClogo {
  position: fixed;
  top: 0vw;
  right: 0.835vw;
  background-color: rgba(0,0,0,0.3);
  padding: 0.835vw 0.835vw;
  display: flex;
}

.Option1_up,
.Option2_up,
.Option3_up,
.Option1_down,
.Option2_down,
.Option3_down {
  color: white;
  font-size: 1.2525vw;
  width: 14.6125vw;
  height: 2.505vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2505vw 0vw;
  cursor: default;
  position: fixed;
  left: 0.835vw;
  transition: all 0.2s;
}

.Option1_up:hover,
.Option2_up:hover,
.Option3_up:hover,
.Option1_down:hover,
.Option2_down:hover,
.Option3_down:hover {
  box-shadow: 0rem 0rem 0.2vw rgba(0,0,0,0.7);
  left: 1.1vw;
  transition: all 0.2s;
}

.Option1_up {
  position: fixed;
  top: 7vw;
  background-color: rgb(57, 56, 139, 0.95);
}

.Option2_up {
  position: fixed;
  top: 10vw;
  background-color: rgba(61, 134, 65, 0.95);
}

.Option3_up {
  position: fixed;
  top: 13vw;
  background-color: rgba(99, 61, 134, 0.95);
}

.Option2_down {
  position: fixed;
  bottom: 4vw;
  background-color: rgba(61, 134, 65, 0.95);
}

.Option3_down {
  position: fixed;
  bottom: 1vw;
  background-color: rgba(99, 61, 134, 0.95);
}

.Option1_down {
  position: fixed;
  bottom: 4vw;
  background-color:  rgb(57, 56, 139, 0.95);
}

.EnterButton, .RegisterButton {
  background-color: rgba(99, 61, 134, 1);
  /* background-color: green; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.7);
  font-size: 1.5vw;
  padding: 0.5845vw 2.5vw;
  border-radius: 3vw;
  width: 20vw;
  transition: all 0.2s;
}

.RegisterButton {
  top: 90%;
  width: 15vw;
  font-size: 1.2vw;
}

.EnterButton:hover, .RegisterButton:hover {
  /* background-color: rgb(0, 150, 0); */
  background-color: #1f733b;
  transition: all 0.2s;
}

.LoginButton {
  background-color: white;
  border: 0.2vw solid rgba(99, 61, 134, 1);
  color: rgba(99, 61, 134, 1);
  /* background-color: green; */
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.7);
  font-size: 1.5vw;
  padding: 0.5845vw 2.5vw;
  border-radius: 3vw;;
  width: 20vw;
}

.Question1, .Question2 {
  border-radius: 2.5vw;
  background-color: rgb(57, 56, 139, 0.9);
  width: 10.7775vw; 
  color: white;
  padding: 0.4175vw 1.2525vw;
  word-wrap: break-word;
  font-size: 0.7515vw;
  cursor: default;
  /* position: fixed; */
}

/* .Question1 {
  top: 10.5vw;
}

.Question2 {
  top: 14.7vw;
} */

.Question1:hover, .Question2:hover {
  box-shadow: 0vw 0vw 0.334vw rgba(0,0,0,0.7);
}

.BluePanel{
  position: fixed;
  top:9.75vw;
  left:0.835vw;
  width: 13.7775vw;
  background-color: rgb(57, 56, 139, 0.7);
  padding:0.4175vw;
  font-size: 0.668vw;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  min-height: 16.7vw;
  align-items: center;
}


.BluePanelItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BluePanelRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0rem 0.5rem;
}

.GreenPanel{
  position: fixed;
  top:12.75vw;
  left:0.835vw;
  width: 13.7775vw;
  padding:0.4175vw;
  background-color: rgba(61, 134, 65, 0.5);
  font-size: 0.9185vw;
  color: white;
  display: "flex";
  flex-direction: row;
  min-height: 16.7vw;
  cursor: default;
}

.GreenPanelItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.668vw;
  padding: 0vw 0.4174vw;
}

.GreenDS {
  border-radius: 2vw;
  background-color: rgba(61, 134, 65, 0.3);
  color: white;
  padding: 0.4174vw 0.835vw;
  display: inline-flex;
  margin: 0.2505vw 0.0835vw;
  max-width: 5.845vw;
  font-size: 0.8vw;
  width: 35%;
  justify-content: center;
  text-align: center;
}

.GreenDS:hover {
  box-shadow: 0vw 0vw 0.334vw rgba(0,0,0,0.5);
}

.BlueDS {
  background-color: rgb(57, 56, 139, 0.5);
}

.SearchBar {
  position: fixed;
  top: 1.67vw;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2.505vw;
  border: 0.1vw solid rgb(61, 134, 65);
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.4175vw 1.2525vw;
}

.InputSearch {
  border: none;
  outline: none ! important;
  font-size: 1vw;
  width: 25vw;
}

.SearchIcon {
  background-color: transparent;
  padding:0.5845vw;
  border-radius: 50%;
  margin: -0.2505vw;
  margin-right: -1.044vw
}

.SearchIcon:hover {
  background-color: lightgrey;
}

.searchResultContainer {
  position: fixed;
  top:4.8vw;
  left: 50%;
  transform: translateX(-50%);
  width: 25.05vw;
  background-color: rgba(61, 134, 65, 0.5);
  border-radius: 0.4175vw;
  padding: 0.2505vw;
  display: flex;
  flex-direction: column;
}

.searchResultItem {
  background-color: white;
  height:1.67vw;
  border-radius: 0.2505vw;
  padding: 0.4175vw 0.5845vw;
  display: flex;
  align-items: center;
  font-size: 1vw;
  margin: 0.0835vw;
  cursor: default;
}

.searchResultItem:hover {
  background-color: rgb(57, 56, 139, 0.5);
  color: white;
}

